vim-enhanced (rpm)
tmux (rpm)
vim-powerline (rpm)
tmux-powerline (rpm)
salt-vim (gh/rpm?) [/usr/share/vim/vimfiles]
nerdtree (rpm)
jinja2 (gh) https://github.com/Glench/Vim-Jinja2-Syntax.git [/usr/share/vim/vimfiles/ftdetect]
vimux (gh) https://github.com/benmills/vimux.git [/usr/share/vim/plugin]
python3-jedi (rpm)
jedi-vim (rpm)
python-setproctitle
vundle (git)
tpm (git; tmux plugin manager)

